@font-face {
    font-family: 'half-life-font';
    src: url(fonts/half-life-font/halflife.ttf);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    height: 100%
}

.splash-container {
    background-image: url(imgs/audrey-shattuck-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    flex-basis: 40%;
    position: relative;
}

.logo-container {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 8%;
    width: 100%;
    height: 10%;
}

.half-life-logo {
    height: 100%;
    vertical-align: middle;
    fill: white;
}

.logo-text {
    font-family: "half-life-font";
    color: white;
    font-size: 1.8vw;
    margin-left: 15px;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.top-text-container {
    background-color: rgb(34, 30, 30);
    color: white;
    font-size: 1.8vw;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 33.33%;
}

.input-field-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(77, 151, 185);
    height: 33.33%;
}

.input-field-text {
    align-self: flex-start;
    font-size: 1.8vw;
    padding-left: 5%;
    margin-top: 1%;
    color: white;
}

.input-field {
    padding-left: 5%;
    margin-bottom: 2%
}

.input-row {
    display: flex;
    flex-wrap: wrap;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

label {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

input {
    font-size: 24px;;
}

.submit-button-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 30, 30);
    height: 33.33%
}

.create-account-button {
    font-size: 1.8vw;
    margin: 2%;
    margin-left: 5%;
    width: 20%;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;

}

.create-account-button:hover {
    transform: scale(1.08);
    box-shadow: 0 0 20px rgba(197,58,51,1);
}

.log-in-text {
    font-size: 24px;
    margin: 2%;
    margin-left: 5%;
    margin-top: 0%;
    color: white;
}

.log-in-button {
    font-size: 1.2vw;
    transition: transform 0.3s ease-in-out;
}

.log-in-button:hover {
    transform: scale(1.08);
    box-shadow: 0 0 20px rgb(77, 151, 185);
}

input:focus {
    border: 2px solid rgba(197,58,51,1);
    box-shadow: 0px 0px 10px rgba(197,58,51,1);
}